* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: url(red-dark-pattern.png);
}

div#memory-board{
  background-color :#d92b2b;
  border:5px solid #ff3333;
  padding:5px;
  margin:0px 20%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; /*ignore space-evenly not found error if occurs*/
}


.match {
  display: none
}

.card {
  width: 21%;
  height: auto;
  padding: 0px;
  margin: 10px;
  border: 1px solid black;
  display: inline-flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.card-image, .card-name, .background-image {
  width: 100%;
  height: auto;
  border: none;
  text-align: center;
}

.card-name p {
  margin: 0;
}

.card-image img, .background-image img {
  height: auto;
  width: 100%;
  display: block;
}

.card-image{
  display: none;
}


#match-list {
  
}


#image-credits {
  
}

