body {
  font-family: "Open Sans", sans-serif;
  background: url(red-dark-pattern.png);
}

div#memory_board{
  background:#d92b2b;
  border:#ff3333 5px solid;
  width:920px;
  height:590px;
  padding:5px;
  margin:0px auto; 
}

div#memory_board > div{
  background: url(match-card.png) no-repeat center;
  border:#ffffff 5px solid;
  width:200px;
  height:118px;
  margin:10px;
  padding:0px;
  font-size:64px;
  cursor:pointer;
  display: grid;
  text-align:center;
  justify-content: center;
  align-items: center;
}


.match {
  display: none
}

.card {
  width: 21%;
  height: auto;
  padding: 0px;
  margin: 10px;
  border: 1px solid black;
  background-color: white;
  /*background-image: url("match-card.png");*/
  display: inline-flex;
  flex-direction:row;
  flex-wrap:wrap; 
}

.card-image, .card-name, .background-image {
  height: auto;
  width: 100%;
  border: none;
  text-align: center;
  margin: 0;
}

.card-name p {
  margin: 0;
}

.card-image img {
  height: auto;
  width: 100%;
}

.card-image{
  display: none;
}

/*
#image-credits{
  display: none;
}

*/