body {
  font-family: "Open Sans", sans-serif;
  background: url(red-dark-pattern.png);
}

div#memory_board{
  background:#d92b2b;
  border:#ff3333 5px solid;
  width:920px;
  height:590px;
  padding:5px;
  margin:0px auto;

}

div#memory_board > div{
  background: url(match-card.png) no-repeat center;
  border:#ffffff 5px solid;
  width:200px;
  height:118px;
  float:left;
  margin:10px;
  padding:0px;
  font-size:64px;
  cursor:pointer;
  text-align:center;
}


.card-image {
  height: 100%;
  width: 100%;
  border: none;
}

#image-credits{
  display: none;
}